@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --but: rgb(49, 137, 238);
    --char: #171717;
}

body {

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    
    background-image: url("assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    line-height: 1.6;
}

/* Login page ends here */
.container {

    width: 300px;
    background-color: var(--char);
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.button-container {
    text-align: center;
    margin-top: 20px;
}

#button {
    background-color: rgb(49, 137, 238);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#button:hover {
    background-color: rgb(33, 105, 198);
}

#button:active {
    background-color: rgb(24, 87, 164);
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



/* Login page ends here */

/* Home page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 20px 0 auto;
}

.card {
    background-color: var(--char);
    border-radius: 5px;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}

.card button {
    background-color: var(--but);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.card button:hover {
    background-color: rgb(33, 105, 198);
}

.card button:active {
    background-color: rgb(24, 87, 164);
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}